In [1]:
import pandas as pd
import numpy as np
import random as rand
from os import listdir

In [3]:
# Задание 1

cols = [1,2,3,4,5,6,7,8,9]
rows = [1,2,3,4,5,6,7,8,9]
data = []
for i in range(1, 10):
    for j in range(1, 10):
        data.append(i * j)
data = np.array(data)
data = np.reshape(data, newshape=(9, 9))
dt = pd.DataFrame(data, columns = cols, index = rows)
dt

   1   2   3   4   5   6   7   8   9
1  1   2   3   4   5   6   7   8   9
2  2   4   6   8  10  12  14  16  18
3  3   6   9  12  15  18  21  24  27
4  4   8  12  16  20  24  28  32  36
5  5  10  15  20  25  30  35  40  45
6  6  12  18  24  30  36  42  48  54
7  7  14  21  28  35  42  49  56  63
8  8  16  24  32  40  48  56  64  72
9  9  18  27  36  45  54  63  72  81

In [4]:
# Задание 2

data = pd.read_csv('C:/Users/student.501CLASSCOMP3/Desktop/city_temperature.csv')
data

C:\Users\student.501CLASSCOMP3\AppData\Local\Temp\ipykernel_3088\3604223250.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/Users/student.501CLASSCOMP3/Desktop/city_temperature.csv')

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,NaN,Algiers,1,1,1995,64.2
1,Africa,Algeria,NaN,Algiers,1,2,1995,49.4
2,Africa,Algeria,NaN,Algiers,1,3,1995,48.8
3,Africa,Algeria,NaN,Algiers,1,4,1995,46.4
4,Africa,Algeria,NaN,Algiers,1,5,1995,47.9
...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [5]:
data.State.isnull().sum()

1450990

In [6]:
data = data.fillna("No")
data

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,No,Algiers,1,1,1995,64.2
1,Africa,Algeria,No,Algiers,1,2,1995,49.4
2,Africa,Algeria,No,Algiers,1,3,1995,48.8
3,Africa,Algeria,No,Algiers,1,4,1995,46.4
4,Africa,Algeria,No,Algiers,1,5,1995,47.9
...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [7]:
print('Число уникальных записей в столбце Country:', data.Country.nunique())
print('Число уникальных записей в столбце City:', data.City.nunique())
print('Число уникальных записей в столбце Year:', data.Year.nunique())

Число уникальных записей в столбце Country: 125
Число уникальных записей в столбце City: 321
Число уникальных записей в столбце Year: 28

In [8]:
print('Размер выбрки:', data.size)

Размер выбрки: 23250616

In [9]:
data['CTempirature'] = (data.AvgTemperature - 32) * 5/9
data

,Region,Country,State,City,Month,Day,Year,AvgTemperature,CTempirature
0,Africa,Algeria,No,Algiers,1,1,1995,64.2,17.888889
1,Africa,Algeria,No,Algiers,1,2,1995,49.4,9.666667
2,Africa,Algeria,No,Algiers,1,3,1995,48.8,9.333333
3,Africa,Algeria,No,Algiers,1,4,1995,46.4,8.000000
4,Africa,Algeria,No,Algiers,1,5,1995,47.9,8.833333
...,...,...,...,...,...,...,...,...,...
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4,28.000000
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6,27.555556
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2,29.000000
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8,28.777778
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6,28.666667

In [10]:
# Задание 3
data = pd.read_csv('C:/Users/student.501CLASSCOMP3/Desktop/Houses.csv', index_col = 0)
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [11]:
print(data.size)
print(data.dtypes)
print(data.isna().sum())
data.describe(include=('O'))

116800
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [12]:
data = data.dropna(axis=1, thresh=1260)
data

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,210000
1458,70,RL,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1459,20,RL,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,112,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [13]:
data[(data.SalePrice > 300000) & (data.PoolArea > 0) & (data.YrSold == 2007)]

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1183,60,RL,15623,Pave,IR1,Lvl,AllPub,Corner,Gtl,NoRidge,...,0,0,0,555,0,7,2007,WD,Abnorml,745000

In [14]:
sample = pd.DataFrame(np.random.randint(0,2,size=(1460,1)), columns = ['Flag'])
sample

      Flag
0        0
1        1
2        0
3        1
4        0
...    ...
1455     0
1456     1
1457     1
1458     1
1459     0

[1460 rows x 1 columns]

In [15]:
data = pd.concat([data, sample])
data

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Flag
1,60.0,RL,8450.0,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0.0,0.0,0.0,0.0,2.0,2008.0,WD,Normal,208500.0,NaN
2,20.0,RL,9600.0,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0.0,0.0,0.0,0.0,5.0,2007.0,WD,Normal,181500.0,NaN
3,60.0,RL,11250.0,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0.0,0.0,0.0,0.0,9.0,2008.0,WD,Normal,223500.0,NaN
4,70.0,RL,9550.0,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,0.0,0.0,0.0,0.0,2.0,2006.0,WD,Abnorml,140000.0,NaN
5,60.0,RL,14260.0,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0.0,0.0,0.0,0.0,12.0,2008.0,WD,Normal,250000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [16]:
data = pd.concat([data, sample])
data

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Flag
1,60.0,RL,8450.0,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0.0,0.0,0.0,0.0,2.0,2008.0,WD,Normal,208500.0,NaN
2,20.0,RL,9600.0,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0.0,0.0,0.0,0.0,5.0,2007.0,WD,Normal,181500.0,NaN
3,60.0,RL,11250.0,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0.0,0.0,0.0,0.0,9.0,2008.0,WD,Normal,223500.0,NaN
4,70.0,RL,9550.0,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,0.0,0.0,0.0,0.0,2.0,2006.0,WD,Abnorml,140000.0,NaN
5,60.0,RL,14260.0,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0.0,0.0,0.0,0.0,12.0,2008.0,WD,Normal,250000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [17]:
# Задание 4
data = pd.read_csv('C:/Users/student.501CLASSCOMP3/Desktop/googleplaystoreapps.csv', index_col = 0)
data

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
"U Launcher Lite – FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [18]:
data = data.sort_values(by='Rating', ascending=False)
data

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,,,,,,,,,,,,
Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN
Ek Bander Ne Kholi Dukan,FAMILY,5.0,10,3.0M,"10,000+",Free,0,Everyone,Entertainment,"June 26, 2017",1.0.9,4.0 and up
FA Player Essentials,SPORTS,5.0,7,68M,100+,Free,0,Everyone,Sports,"July 23, 2018",1.6.0,4.0.3 and up
Dine In CT - Food Delivery,SHOPPING,5.0,4,1.6M,"1,000+",Free,0,Everyone,Shopping,"May 16, 2016",1.3,4.0 and up
Eternal Light AG,SOCIAL,5.0,30,13M,100+,Free,0,Teen,Social,"May 19, 2018",1.04,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
Cardio-FR,MEDICAL,NaN,67,82M,"10,000+",Free,0,Everyone,Medical,"July 31, 2018",2.2.2,4.4 and up
Naruto & Boruto FR,SOCIAL,NaN,7,7.7M,100+,Free,0,Teen,Social,"February 2, 2018",1.0,4.0 and up
payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,"June 13, 2018",2.0.148.0,4.0 and up
FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up

In [19]:
data = data[(data.Rating <= 5) & (data.Rating >= 3)]
data = data.sort_values(by='Rating', ascending=False)
data

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
App,,,,,,,,,,,,
Ek Bander Ne Kholi Dukan,FAMILY,5.0,10,3.0M,"10,000+",Free,0,Everyone,Entertainment,"June 26, 2017",1.0.9,4.0 and up
"Beacon Baptist Jupiter, FL",LIFESTYLE,5.0,14,2.6M,100+,Free,0,Everyone,Lifestyle,"October 13, 2017",2.4,4.0.3 and up
Food-Aw - Order Food Online in Aruba,FOOD_AND_DRINK,5.0,1,24M,100+,Free,0,Everyone,Food & Drink,"April 5, 2018",10,4.1 and up
Ra Ga Ba,GAME,5.0,2,20M,1+,Paid,$1.49,Everyone,Arcade,"February 8, 2017",1.0.4,2.3 and up
Spine- The dating app,DATING,5.0,5,9.3M,500+,Free,0,Teen,Dating,"July 14, 2018",4.0,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...
Random Chat App with Strangers,DATING,3.0,2,16M,100+,Free,0,Mature 17+,Dating,"July 17, 2018",2.5,4.0.3 and up
EML UPnP-AV Control Point,VIDEO_PLAYERS,3.0,78,322k,"10,000+",Free,0,Everyone,Video Players & Editors,"September 19, 2013",1.3,1.6 and up
EG Classroom Decimals™,FAMILY,3.0,2,18M,50+,Paid,$2.99,Everyone,Education;Education,"June 12, 2017",2.2.2,2.2 and up
FarmersOnly Dating,DATING,3.0,1145,1.4M,"100,000+",Free,0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
The Artificial Intelligence Project (A.I. Chat),FAMILY,3.0,76,39M,"5,000+",Paid,$1.99,Everyone,Simulation,"March 29, 2018",1.2,2.3 and up

In [20]:
ac = data['Type'].value_counts()
ac.Columns = ['Type', 'Count']
ac

Free    8454
Paid     625
Name: Type, dtype: int64

In [21]:
print(round(data.isna().sum()/data.count(), 2))

Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
Genres            0.0
Last Updated      0.0
Current Ver       0.0
Android Ver       0.0
dtype: float64

In [48]:
# Задание 5
data = pd.read_csv('C:/Users/student.501CLASSCOMP3/Desktop/Orders.csv', index_col = 0, encoding='cp1250')
data

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [49]:
data.index = pd.to_datetime(data.InvoiceDate)
data

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
2011-12-09 12:50:00,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
2011-12-09 12:50:00,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
2011-12-09 12:50:00,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
2011-12-09 12:50:00,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
2011-12-09 12:50:00,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [50]:
TotalCost = pd.DataFrame((data.Quantity * data.UnitPrice), columns = ['TotalCost'])
data['TotalCost'] = data.Quantity * data.UnitPrice
data.head()
data

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalCost
InvoiceDate,,,,,,,,
2010-12-01 08:26:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
2010-12-01 08:26:00,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
2010-12-01 08:26:00,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
2011-12-09 12:50:00,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
2011-12-09 12:50:00,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
2011-12-09 12:50:00,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
2011-12-09 12:50:00,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [51]:
data.TotalCost.resample('W').max()
data

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalCost
InvoiceDate,,,,,,,,
2010-12-01 08:26:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
2010-12-01 08:26:00,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
2010-12-01 08:26:00,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
2011-12-09 12:50:00,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
2011-12-09 12:50:00,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
2011-12-09 12:50:00,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
2011-12-09 12:50:00,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [52]:
data['2010-12-07 13:00':'2010-12-07 13:01']

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalCost
InvoiceDate,,,,,,,,
2010-12-07 13:01:00,84991,60 TEATIME FAIRY CAKE CASES,24,12/7/2010 13:01,0.55,13488.0,United Kingdom,13.20
2010-12-07 13:01:00,21845,DAIRY MAID STRIPE MUG,12,12/7/2010 13:01,2.95,13488.0,United Kingdom,35.40
2010-12-07 13:01:00,21534,DAIRY MAID LARGE MILK JUG,3,12/7/2010 13:01,4.95,13488.0,United Kingdom,14.85
2010-12-07 13:01:00,21527,RED RETROSPOT TRADITIONAL TEAPOT,2,12/7/2010 13:01,7.95,13488.0,United Kingdom,15.90
2010-12-07 13:01:00,21528,DAIRY MAID TRADITIONAL TEAPOT,2,12/7/2010 13:01,6.95,13488.0,United Kingdom,13.90
2010-12-07 13:01:00,21843,RED RETROSPOT CAKE STAND,24,12/7/2010 13:01,9.95,13488.0,United Kingdom,238.80
2010-12-07 13:01:00,22429,ENAMEL MEASURING JUG CREAM,4,12/7/2010 13:01,4.25,13488.0,United Kingdom,17.00
2010-12-07 13:01:00,22551,PLASTERS IN TIN SPACEBOY,12,12/7/2010 13:01,1.65,13488.0,United Kingdom,19.80
2010-12-07 13:01:00,22557,PLASTERS IN TIN VINTAGE PAISLEY,12,12/7/2010 13:01,1.65,13488.0,United Kingdom,19.80
2010-12-07 13:01:00,22555,PLASTERS IN TIN STRONGMAN,12,12/7/2010 13:01,1.65,13488.0,United Kingdom,19.80
2010-12-07 13:01:00,22304,COFFEE MUG BLUE PAISLEY DESIGN,12,12/7/2010 13:01,2.55,13488.0,United Kingdom,30.60
2010-12-07 13:01:00,22305,COFFEE MUG PINK PAISLEY DESIGN,12,12/7/2010 13:01,2.55,13488.0,United Kingdom,30.60
2010-12-07 13:01:00,20749,ASSORTED COLOUR MINI CASES,2,12/7/2010 13:01,7.95,13488.0,United Kingdom,15.90
2010-12-07 13:01:00,22525,CHILDRENS GARDEN GLOVES PINK,10,12/7/2010 13:01,1.25,13488.0,United Kingdom,12.50
2010-12-07 13:01:00,22524,CHILDRENS GARDEN GLOVES BLUE,10,12/7/2010 13:01,1.25,13488.0,United Kingdom,12.50
2010-12-07 13:01:00,22515,CHILDS GARDEN SPADE PINK,6,12/7/2010 13:01,2.10,13488.0,United Kingdom,12.60
2010-12-07 13:01:00,22514,CHILDS GARDEN SPADE BLUE,6,12/7/2010 13:01,2.10,13488.0,United Kingdom,12.60
2010-12-07 13:01:00,22518,CHILDS GARDEN BRUSH BLUE,6,12/7/2010 13:01,2.10,13488.0,United Kingdom,12.60
2010-12-07 13:01:00,82552,WASHROOM METAL SIGN,12,12/7/2010 13:01,1.45,13488.0,United Kingdom,17.40
2010-12-07 13:01:00,20750,RED RETROSPOT MINI CASES,12,12/7/2010 13:01,6.35,13488.0,United Kingdom,76.20
2010-12-07 13:01:00,21212,PACK OF 72 RETROSPOT CAKE CASES,24,12/7/2010 13:01,0.55,13488.0,United Kingdom,13.20
2010-12-07 13:01:00,21210,SET OF 72 RETROSPOT PAPER DOILIES,12,12/7/2010 13:01,1.45,13488.0,United Kingdom,17.40
2010-12-07 13:01:00,22567,20 DOLLY PEGS RETROSPOT,48,12/7/2010 13:01,1.06,13488.0,United Kingdom,50.88
2010-12-07 13:01:00,22558,CLOTHES PEGS RETROSPOT PACK 24,48,12/7/2010 13:01,1.25,13488.0,United Kingdom,60.00
2010-12-07 13:01:00,21155,RED RETROSPOT PEG BAG,6,12/7/2010 13:01,2.10,13488.0,United Kingdom,12.60
2010-12-07 13:01:00,22061,LARGE CAKE STAND HANGING STRAWBERY,6,12/7/2010 13:01,9.95,13488.0,United Kingdom,59.70
2010-12-07 13:01:00,37446,MINI CAKE STAND WITH HANGING CAKES,8,12/7/2010 13:01,1.45,13488.0,United Kingdom,11.60
2010-12-07 13:01:00,37449,CERAMIC CAKE STAND + HANGING CAKES,6,12/7/2010 13:01,9.95,13488.0,United Kingdom,59.70
2010-12-07 13:01:00,22519,CHILDS GARDEN BRUSH PINK,6,12/7/2010 13:01,2.10,13488.0,United Kingdom,12.60
2010-12-07 13:01:00,21754,HOME BUILDING BLOCK WORD,6,12/7/2010 13:01,5.95,13488.0,United Kingdom,35.70
2010-12-07 13:01:00,20969,RED FLORAL FELTCRAFT SHOULDER BAG,4,12/7/2010 13:01,3.75,13488.0,United Kingdom,15.00
2010-12-07 13:01:00,20967,GREY FLORAL FELTCRAFT SHOULDER BAG,4,12/7/2010 13:01,3.75,13488.0,United Kingdom,15.00
2010-12-07 13:01:00,22570,FELTCRAFT CUSHION RABBIT,4,12/7/2010 13:01,3.75,13488.0,United Kingdom,15.00
2010-12-07 13:01:00,22568,FELTCRAFT CUSHION OWL,4,12/7/2010 13:01,3.75,13488.0,United Kingdom,15.00
2010-12-07 13:01:00,22569,FELTCRAFT CUSHION BUTTERFLY,4,12/7/2010 13:01,3.75,13488.0,United Kingdom,15.00
2010-12-07 13:01:00,20971,PINK BLUE FELT CRAFT TRINKET BOX,12,12/7/2010 13:01,1.25,13488.0,United Kingdom,15.00
2010-12-07 13:01:00,84880,WHITE WIRE EGG HOLDER,12,12/7/2010 13:01,4.95,13488.0,United Kingdom,59.40
2010-12-07 13:01:00,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,12/7/2010 13:01,6.45,13488.0,United Kingdom,19.35
2010-12-07 13:01:00,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,8,12/7/2010 13:01,2.95,13488.0,United Kingdom,23.60
2010-12-07 13:01:00,84879,ASSORTED COLOUR BIRD ORNAMENT,8,12/7/2010 13:01,1.69,13488.0,United Kingdom,13.52
2010-12-07 13:01:00,21136,PAINTED METAL PEARS ASSORTED,8,12/7/2010 13:01,1.69,13488.0,United Kingdom,13.52
2010-12-07 13:01:00,22185,SLATE TILE NATURAL HANGING,12,12/7/2010 13:01,1.65,13488.0,United Kingdom,19.80
2010-12-07 13:01:00,22488,NATURAL SLATE RECTANGLE CHALKBOARD,12,12/7/2010 13:01,1.65,13488.0,United Kingdom,19.80
2010-12-07 13:01:00,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,24,12/7/2010 13:01,2.75,13488.0,United Kingdom,66.00
2010-12-07 13:01:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/7/2010 13:01,2.55,13488.0,United Kingdom,81.60

In [54]:
data[data.index.weekday == 0].CustomerID.nunique()

1769

In [57]:
data.groupby(['Country']).TotalCost.resample('M').sum()

Country      InvoiceDate
Australia    2010-12-31      1005.10
             2011-01-31      9017.71
             2011-02-28     14627.47
             2011-03-31     17055.29
             2011-04-30       333.40
                              ...
Unspecified  2011-07-31      1425.41
             2011-08-31       531.03
             2011-09-30       286.85
             2011-10-31         0.00
             2011-11-30       965.75
Name: TotalCost, Length: 378, dtype: float64

In [58]:
data.corr(method = 'spearman', numeric_only = True)

            Quantity  UnitPrice  CustomerID  TotalCost
Quantity    1.000000  -0.385407   -0.141124   0.691881
UnitPrice  -0.385407   1.000000   -0.013255   0.326543
CustomerID -0.141124  -0.013255    1.000000  -0.159776
TotalCost   0.691881   0.326543   -0.159776   1.000000

In [60]:
data.quantile([0.01, 0.5, 0.99], numeric_only = True)

      Quantity  UnitPrice  CustomerID  TotalCost
0.01      -2.0       0.19     12415.0      -6.58
0.50       3.0       2.08     15152.0       9.75
0.99     100.0      18.00     18212.0     180.00

In [4]:
# Задание 6

list = listdir('D:/FD')
listDatas=[]

for i in list:
    print(i)
    listDatas.append(pd.read_csv('D:FD/'+i))

    datacon=pd.concat(listDatas)
print(datacon.shape)
print(datacon.isnull().sum())
datacon = datacon.dropna(axis=1, how='all')
datacon = datacon.dropna(axis=0, how='all')
datacon = datacon.fillna('Unknown')

data1.csv
data10.csv
data2.csv
data3.csv
data4.csv
data5.csv
data6.csv
data7.csv
data8.csv
data9.csv
(238780, 37)
Unnamed: 0                             0
test_values                       238780
Unnamed: 2                        238780
for_notes                         238780
hotel                              59695
is_canceled                       179085
lead_time                         179085
arrival_date_year                 179085
arrival_date_month                179085
cashe                             238780
arrival_date_week_number          179085
arrival_date_day_of_month         179085
stays_in_weekend_nights           179085
stays_in_week_nights              179085
adults                            179085
children                          179087
babies                            179085
meal                              179085
country                           179329
market_segment                    179085
distribution_channel              179085
is_repeated_guest                 179085
previous_cancellations            179085
previous_bookings_not_canceled    179085
reserved_room_type                179085
assigned_room_type                179085
booking_changes                   179085
deposit_type                      179085
agent                             187257
company                           235388
days_in_waiting_list              179085
customer_type                     179085
adr                               179085
required_car_parking_spaces       179085
total_of_special_requests         179085
reservation_status                179085
reservation_status_date           179085
dtype: int64

In [17]:
datacon

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,...,No Deposit,Unknown,Unknown,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,1,For notes:,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,2,Resort Hotel,0.0,7.0,2015.0,July,27.0,1.0,0.0,1.0,...,No Deposit,Unknown,Unknown,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
3,3,For notes:,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,2.0,...,No Deposit,240.0,Unknown,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23873,214897,For notes:,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
23874,214898,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
23875,214899,For notes:,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
23876,214900,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
23877,214901,For notes:,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [32]:
datacon.groupby(["arrival_date_year", "arrival_date_month", 'hotel'])['lead_time'].sum()

arrival_date_year  arrival_date_month  hotel
2015.0             August              City Hotel                                               139386.0
                                       Resort Hotel                                              54086.0
                   December            City Hotel                                                46889.0
                                       Resort Hotel                                              29769.0
                   July                City Hotel                                               126780.0
                                       Resort Hotel                                              48603.0
                   November            City Hotel                                                35680.0
                                       Resort Hotel                                              21307.0
                   October             City Hotel                                               172049.0
                                       Resort Hotel                                              77028.0
                   September           City Hotel                                               201097.0
                                       Resort Hotel                                             115542.0
2016.0             April               City Hotel                                               160628.0
                                       Resort Hotel                                              71694.0
                   August              City Hotel                                               216835.0
                                       Resort Hotel                                              91785.0
                   December            City Hotel                                               133012.0
                                       Resort Hotel                                              43535.0
                   February            City Hotel                                                46579.0
                                       Resort Hotel                                              29246.0
                   January             City Hotel                                                27470.0
                                       Resort Hotel                                               8272.0
                   July                City Hotel                                               201206.0
                                       Resort Hotel                                              79991.0
                   June                City Hotel                                               233027.0
                                       Resort Hotel                                              88214.0
                   March               City Hotel                                                93164.0
                                       Resort Hotel                                              44790.0
                   May                 City Hotel                                               214665.0
                                       Resort Hotel                                              99903.0
                   November            City Hotel                                               167293.0
                                       Resort Hotel                                              34412.0
                   October             City Hotel                                               302866.0
                                       Resort Hotel                                             125633.0
                   September           City Hotel                                               273466.0
                                       Resort Hotel                                             129563.0
2017.0             April               City Hotel                                               211610.0
                                       Resort Hotel                                              85064.0
                   August              City Hotel                                               229867.0
                                       Resort Hotel                                             107757.0
                   February            City Hotel                                                84367.0
                                       Resort Hotel                                              34477.0
                   January             City Hotel                                                79722.0
                                       Resort Hotel                                              19724.0
                   July                City Hotel                                               296919.0
                                       Resort Hotel                                             112176.0
                   June                City Hotel                                               259485.0
                                       Resort Hotel                                             124834.0
                   March               City Hotel                                               144730.0
                                       Resort Hotel                                              59752.0
                   May                 City Hotel                                               262773.0
                                       Resort Hotel                                             112958.0
Unknown            Unknown             For notes:      UnknownUnknownUnknownUnknownUnknownUnknownUnkn...
                                       Unknown         UnknownUnknownUnknownUnknownUnknownUnknownUnkn...
Name: lead_time, dtype: object

In [33]:
datacon.shape

(238780, 33)

In [34]:
datacon.to_csv('result.csv')